
body {
  height: 100vh;
  background-image: linear-gradient(to right, #6A5ACD, #FFD700);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.game-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.grid-container {
  overflow: hidden;
  border: 2px solid #4B0082;
  border-radius: 5px;
  
  background-color: #FFE4C4; 
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  border: 2px solid #4B0082;
  transition: transform 0.5s ease-in-out;
}

.grid button {
  background-color: tomato;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #4B0082;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.grid button:hover {
  background-color: #008B8B;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.footer button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 200px;
  background-color: #FF8C00;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


#start-btn {
  
  background-color: #FF4500; 
}

.footer button:hover {
  background-color: #CD6600;
}

.footer span {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #2E8B57; 
  font-weight: bold;
  margin: auto 0;
}

.message {
  color: #FF4500;
  height: 80px;
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}
